body {
    background-color: blanchedalmond;
}

.menu {
    width: 96%;
    height: 30px;
    position: fixed;
    background-color: rgb(208, 171, 128);
    margin-top: 0px;
}

a {
    text-decoration: none;
}

li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
}

li:hover {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px black;
}

.heading {
    margin-top: -4%;
    width: 100%;
    height: 135px;
    background-color: rgb(208, 171, 128);
    text-align: center;
    text-decoration: wavy;
    font-style: italic;
    font-size: 40px;
}

.row1 {
    width: 100%;
    height: 500px;
    background-color: beige;
    display: flex;
}

.col1 {
    width: 33%;
    height: 500px;
    border: 2px solid beige;
}

#p1,
#p2 {
    font-size: 60px;
    text-align: center;
    font-style: oblique;
}

#p3 {
    font-size: 14px;
    text-align: center;
}

.row2 {
    width: 100%;
    height: 250px;
    display: flex;
}

.col2 {
    width: 16%;
    height: 250px;
    border: 2px solid beige;
}

h3 {
    text-align: center;
    color: rgb(208, 171, 128);
}

#p3 {
    text-align: center;
}

.col3 {
    width: 33%;
    height: 100%;
    border: 2px solid beige;
}

form {
background-color:rgb(208, 171, 128); ;
    width: 22%;
    height: 230px;
    text-align: center;

}

#p4 {
    font-size: 14px;
    text-align: center;
    font-style: oblique;
    font-size: 60px;

}

#p5 {
    font-size: 34px;
    font-style: oblique;
}

iframe {
    margin-left: 69%;
    margin-top: -216px;
}
.follow {
    width: 33%;
    height: 200px;
    text-align: center;
   
    margin-top: -242px;
    margin-left: 370px;
}
h2{
    color: brown;
}

